html, body {
    height: 100%;
}

.page {
    height: 100%;
}

.el-menu-vertical:not(.el-menu--collapse) {
    width: 210px;
    min-height: 400px;
}

.vertical-middle::before {
    content: "";
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.vertical-middle > * {
    display: inline-block;
    vertical-align: middle;
}
